In [2]:
from Tool_Functions.cleaning_data import *
from Tool_Functions.comportment_reabo import * 
from Tool_Functions.join_data import *

In [3]:
path_antoine = "/Users/antoine/Documents/ENSAE2A/Codeperso/everything/Statappperso/Ressources/"
path_results_antoine = "/Users/antoine/Documents/ENSAE2A/Codeperso/everything/Statappperso/Ressources/Results/"

Nouveaux indicateurs : 
- Mois du réabonnement 
- Delai de réabonnement moyen pour cette promo comparé au délai de réabonnement moyen pour toutes les promos
- Trouver aussi un moyen de quantifier le poids de l’abonnement par rapport aux habitudes de fidélité d’un client : s’il s’abonne alors qu’il s’abonne jamais, la promo aura un poids plus important

In [6]:
def enlever_abos(data_path, data_path_results):
    df = file_to_dataframe(data_path + "df_Donnees_Reabos_odd.csv")
    df['NB_APPARITIONS'] = df.groupby('ID_ABONNE')['ID_ABONNE'].transform('count')
    df_new = df[(df['NB_APPARITIONS'] < 34) & (df['NB_APPARITIONS'] > 2)]
    save_to_csv_file(df_new, data_path_results + 'df_Donnees_Reabos_odd_new.csv')
     
    return True

In [7]:
def ajouter_differences(df):
    
    promo_types = [col for col in df.columns if 'MEAN_TIME' in col and col != 'MOY_DELAI']
    
    for promo in promo_types:
        new_col_name = promo + '_DIFF'
        df[new_col_name] = df[promo] - df['MOY_DELAI']

    return df

In [8]:
def create_new_data_set_n_month(data_path, data_path_results):
    """
    Creates a new dataset 'new_data_set' from 'df_Données_Reabos_odd' dataframe where the columns are the 
    TYPE_PROMON
    """

    # Load 'df_Données_Reabos_odd' dataframe
    df = file_to_dataframe(data_path + "df_Donnees_Reabos_odd_new.csv")
    df['DATE_ACTE_REEL'] = pd.to_datetime(df['DATE_ACTE_REEL'])
    df['MONTH'] = df['DATE_ACTE_REEL'].dt.month

    # Perform statistical analysis on 'df_Données_Reabos_odd' dataframe
    df2 = count_abo_conditions(df, ['ID_ABONNE', 'MONTH'], 'DATE_ACTE_REEL')

    # Create a pivot table from 'df' dataframe we exchange the lines and columns
    new_data_set = df2.pivot_table(index='ID_ABONNE', columns='MONTH', values='NB_DATE_ACTE_REEL')

    # Reset index of the pivot table
    new_data_set = new_data_set.reset_index()

    # Replace NaN values with 0
    new_data_set.fillna(0, inplace=True)

    # Convert floating-point values to integers
    new_data_set = new_data_set.astype(int)

    # Save 'new_data_set' dataframe to a CSV file
    save_to_csv_file(new_data_set, data_path_results + "df_n_months_ODD.csv")

    return True

In [11]:
def create_new_data_set_n_month_pourc(data_path, data_path_results):
    """
    Creates a new dataset 'new_data_set' from 'df_Données_Reabos_odd' dataframe where the columns are the 
    TYPE_PROMON
    """

    # Load 'df_Données_Reabos_odd' dataframe
    df = file_to_dataframe(data_path + "df_Donnees_Reabos_odd_new.csv")
    df['DATE_ACTE_REEL'] = pd.to_datetime(df['DATE_ACTE_REEL'])
    df['MONTH'] = df['DATE_ACTE_REEL'].dt.month

    # Perform statistical analysis on 'df_Données_Reabos_odd' dataframe
    df2 = count_abo_conditions(df, ['ID_ABONNE', 'MONTH'], 'DATE_ACTE_REEL')

    # Create a pivot table from 'df' dataframe we exchange the lines and columns
    new_data_set = df2.pivot_table(index='ID_ABONNE', columns='MONTH', values='NB_DATE_ACTE_REEL')

    new_data_set_pourc = new_data_set.apply(lambda x: (x / x.sum()) * 100, axis=1)

    # Reset index of the pivot table
    new_data_set_pourc = new_data_set_pourc.reset_index()

    # Replace NaN values with 0
    new_data_set_pourc.fillna(0, inplace=True)

    # Convert floating-point values to integers
    new_data_set_pourc = new_data_set_pourc.astype(int)

    # Save 'new_data_set' dataframe to a CSV file
    save_to_csv_file(new_data_set_pourc, data_path + "df_n_months_ODD_%.csv")

    return True

In [10]:
def create_new_data_set_n_fidelite(data_path, data_path_results):
    """
    Creates a new dataset 'new_data_set' from 'df_Données_Reabos_odd' dataframe where the columns are the 
    TYPE_PROMON
    """

    # Load 'df_Données_Reabos_odd' dataframe
    df = file_to_dataframe(data_path + "df_Donnees_Reabos_odd_new.csv")
    df['DATE_ACTE_REEL'] = pd.to_datetime(df['DATE_ACTE_REEL'])
    df['MONTH'] = df['DATE_ACTE_REEL'].dt.month

    # Perform statistical analysis on 'df_Données_Reabos_odd' dataframe
    df2 = count_abo_conditions(df, ['ID_ABONNE', 'STATUT_FIN_M_MOINS_1'], 'DATE_ACTE_REEL')

    # Create a pivot table from 'df' dataframe we exchange the lines and columns
    new_data_set = df2.pivot_table(index='ID_ABONNE', columns='STATUT_FIN_M_MOINS_1', values='NB_DATE_ACTE_REEL')

    # Reset index of the pivot table
    new_data_set = new_data_set.reset_index()

    # Replace NaN values with 0
    new_data_set.fillna(0, inplace=True)

    # Convert floating-point values to integers
    new_data_set = new_data_set.astype(int)

    # Save 'new_data_set' dataframe to a CSV file
    save_to_csv_file(new_data_set, data_path_results + "df_n_fidélité_ODD.csv")

    return True

In [ ]:
# Combien de fois ils se sont abonnés dans l'année

In [12]:
def create_new_data_set_n_abo(data_path, data_path_results):
    """
    Creates a new dataset 'new_data_set' from 'df_Données_Reabos_odd' dataframe where the columns are the 
    TYPE_PROMON
    """

    # Load 'df_Données_Reabos_odd' dataframe
    df = file_to_dataframe(data_path + "df_Donnees_Reabos_odd_new.csv")
    df['DATE_ACTE_REEL'] = pd.to_datetime(df['DATE_ACTE_REEL'])
    df['MONTH'] = df['DATE_ACTE_REEL'].dt.month

    # Perform statistical analysis on 'df_Données_Reabos_odd' dataframe
    df2 = count_abo_conditions(df, ['ID_ABONNE', 'STATUT_FIN_M_MOINS_1'], 'DATE_ACTE_REEL')

    # Create a pivot table from 'df' dataframe we exchange the lines and columns
    new_data_set = df2.pivot_table(index='ID_ABONNE', columns='STATUT_FIN_M_MOINS_1', values='NB_DATE_ACTE_REEL')

    # Reset index of the pivot table
    new_data_set = new_data_set.reset_index()

    # Replace NaN values with 0
    new_data_set.fillna(0, inplace=True)

    # Convert floating-point values to integers
    new_data_set = new_data_set.astype(int)

    # Save 'new_data_set' dataframe to a CSV file
    save_to_csv_file(new_data_set, data_path_results + "df_n_fidélité_ODD.csv")

    return True

In [13]:
df = file_to_dataframe(path_antoine + "df_Donnees_Reabos_odd_new.csv")

In [23]:
def correct_non_overlapping_subscriptions(df, window_months=12):
    # Ensure the dataframe is sorted by ID_ABONNE and DATE_ACTE_REEL
    df.sort_values(['ID_ABONNE', 'DATE_ACTE_REEL'], inplace=True)

    # Initialize an empty dictionary to store the results
    results = {}

    for id_abonne, group in df.groupby('ID_ABONNE'):
        subscriptions = []
        start_date = None
        count = 0

        for _, row in group.iterrows():
            if start_date is None:
                # Start of a new 12-month period
                start_date = row['DATE_ACTE_REEL']
                count = 1
            elif (row['DATE_ACTE_REEL'] - start_date).days / 30 <= window_months:
                # Still within the 12-month window
                count += 1
            else:
                # Outside the 12-month window, start a new period
                subscriptions.append(count)
                start_date = row['DATE_ACTE_REEL']
                count = 1

        # Append the count for the last window
        subscriptions.append(count)

        # Store the list of counts for this ID_ABONNE
        results[id_abonne] = subscriptions


    return results

In [24]:
liste_fidelite = correct_non_overlapping_subscriptions(df)

In [25]:
results_df = pd.DataFrame(list(liste_fidelite.items()), columns=['ID_ABONNE', 'NOMBRE_ABONNEMENTS'])
save_to_csv_file(results_df, path_antoine + 'liste_fidelite.csv')

True

In [5]:
def huge_data_set(data_path, data_path_results):
    df1 = file_to_dataframe(data_path + "new_datas_diff_%.csv")
    df2 = file_to_dataframe(data_path + "df_n_months_ODD.csv")
    df3 = file_to_dataframe(data_path + "liste_fidelite.csv")
    df = join_dataFrames(df1, df2, 'ID_ABONNE')
    dfr = join_dataFrames(df, df3, 'ID_ABONNE')
    save_to_csv_file(dfr, data_path_results + 'fusion_table.csv')
    return True

In [7]:
huge_data_set(path_antoine,path_antoine)

True

In [8]:
goat = file_to_dataframe(path_antoine + 'fusion_table.csv')

In [9]:
goat

,ID_ABONNE,Autres_n_REABOS,ODD 15 jours EV+_n_REABOS,ODD 15 jours TC_n_REABOS,ODD 21 jours TC_n_REABOS,ODD 30 jours EV+_n_REABOS,ODD 30 jours TC_n_REABOS,ODD 7 jours autre que SG_n_REABOS,Semaine genéreuse_n_REABOS,MOY_DELAI,...,4,5,6,7,8,9,10,11,12,NOMBRE_ABONNEMENTS
0,50402221602,0.0,0.000000,33.333333,0.000000,0.0,66.666667,0.0,0.000000,-5.333333,...,0,0,1,0,0,0,0,0,2,[3]
1,50402223202,0.0,0.000000,27.586207,0.000000,0.0,13.793103,0.0,58.620690,-3.413793,...,3,3,2,1,2,2,3,2,2,"[11, 9, 9]"
2,50402224003,0.0,0.000000,42.857143,0.000000,0.0,0.000000,0.0,57.142857,-6.142857,...,1,1,1,0,0,0,0,0,1,[7]
3,50402230202,0.0,0.000000,50.000000,0.000000,0.0,16.666667,0.0,33.333333,0.111111,...,2,2,2,1,1,1,2,1,2,"[8, 10]"
4,50402230203,0.0,0.000000,52.631579,5.263158,0.0,15.789474,0.0,26.315789,-6.210526,...,2,2,1,1,1,1,2,1,2,"[8, 11]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777139,53186931901,0.0,33.333333,33.333333,0.000000,0.0,0.000000,0.0,33.333333,-4.333333,...,0,0,0,0,0,2,1,0,0,[3]
777140,53186937201,0.0,33.333333,33.333333,0.000000,0.0,0.000000,0.0,33.333333,-2.333333,...,0,0,0,0,0,2,1,0,0,[3]
777141,53186971001,0.0,33.333333,33.333333,0.000000,0.0,0.000000,0.0,33.333333,-2.333333,...,0,0,0,0,0,2,1,0,0,[3]
777142,53186977101,0.0,33.333333,33.333333,0.000000,0.0,0.000000,0.0,33.333333,-0.333333,...,0,0,0,0,0,2,1,0,0,[3]
777143,53186989601,0.0,33.333333,33.333333,0.000000,0.0,0.000000,0.0,33.333333,-0.333333,...,0,0,0,0,0,2,1,0,0,[3]