In [1]:
from Tool_Functions.cleaning_data import *
from Tool_Functions.comportment_reabo import * 
from Tool_Functions.join_data import *

In [2]:
path_antoine = "/Users/antoine/Documents/ENSAE2A/Codeperso/everything/Statappperso/Ressources/"
path_results_antoine = "/Users/antoine/Documents/ENSAE2A/Codeperso/everything/Statappperso/Ressources/Results/"

Nouveaux indicateurs : 
- Mois du réabonnement 
- Delai de réabonnement moyen pour cette promo comparé au délai de réabonnement moyen pour toutes les promos
- Trouver aussi un moyen de quantifier le poids de l’abonnement par rapport aux habitudes de fidélité d’un client : s’il s’abonne alors qu’il s’abonne jamais, la promo aura un poids plus important

In [3]:
df = file_to_dataframe(path_antoine + "df_Donnees_Reabos.csv")

In [10]:
dfp = file_to_dataframe(path_antoine + "df_Donnees_Promos.csv")

In [4]:
odd = file_to_dataframe(path_antoine + "df_Donnees_Reabos_odd.csv")

In [9]:
oddp = file_to_dataframe(path_antoine + "df_Donnees_Promos_odd.csv")

In [17]:
oddp.shape

(11415480, 5)

In [21]:
dfp

          Unnamed: 0    ID_ABONNE DATE_ACTE_REEL DATE_DEMARRAGE_PROMO   CPROMO
0                  0  51478366401     2021-06-16           2021-06-16  SGEVP01
1                  1  52006231501     2021-06-16           2021-06-16  SGEVP01
2                  2  51349585101     2021-06-16           2021-06-16  SGEVP01
3                  3  52108880501     2021-06-16           2021-06-16  SGEVP01
4                  4  51947630401     2021-06-16           2021-06-16  SGEVP01
...              ...          ...            ...                  ...      ...
15733966    15733966  51974732901     2023-05-01           2023-05-01  SGEVP01
15733967    15733967  51923691301     2023-05-01           2023-05-01  SGEVP01
15733968    15733968  50993144501     2023-05-01           2023-05-01  SGEVP01
15733969    15733969  52103629101     2023-05-01           2023-05-01  SGEVP01
15733970    15733970  52280267101     2023-05-01           2023-05-01  SGEVP01

[15733971 rows x 5 columns]

•⁠  ⁠transformer la fidélité en un score et essayer de le croiser avec les types de promo
•⁠  ⁠⁠comparer les délais de réabonnements à ce qu’il se fait hors promotion 
•⁠  ⁠⁠on peut dans un premier temps se concentrer sur un seul type d’ODD (ex 15j TC)

créer la table sans ODD

In [13]:
def create_df_Données_Promos_odd_all_outer(data_path, data_path_results):
    """
    This function create df_Données_Promos_odd for the dataFrame with all years
    """
    
    df_Données_Promos = file_to_dataframe(data_path + "df_Donnees_Promos.csv",",")
    df_odd = file_to_dataframe(data_path + "odd.csv", ",")
    df_Données_Promos_odd = join_dataFrames_outer(df_Données_Promos,df_odd[['CPROMO','TYPE_PROMON']] ,'CPROMO') #We create a new column 'TYPE_PROMON' on df_Données_Promos_202i
    save_to_csv_file(df_Données_Promos_odd,data_path_results + "df_Donnees_Promos_odd_outer.csv") #we save it on your Mac
    
    return True

In [14]:
create_df_Données_Promos_odd_all_outer(path_antoine,path_antoine)

True

In [15]:
test =file_to_dataframe(path_antoine + 'df_Donnees_Promos_odd_outer.csv')

/Users/antoine/Documents/ENSAE2A/Codeperso/everything/Statappperso/Statapp-CANAL/Data_operations/Tool_Functions/join_data.py:14: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  datas = pd.read_csv(filename,delimiter=st)

In [22]:
test = test[test['TYPE_PROMON'].isna()]

In [23]:
test

,ID_ABONNE,DATE_ACTE_REEL,DATE_DEMARRAGE_PROMO,CPROMO,TYPE_PROMON
8987632,50407663302,2021-12-15,2021-12-15,160412C6,NaN
8987633,50407500901,2021-02-15,2021-02-15,160412C6,NaN
8987634,50412532801,2021-05-06,2021-05-06,160412C6,NaN
8987635,51777223401,2021-12-07,2021-12-07,160412C6,NaN
8987636,50412618501,2021-10-28,2021-10-28,160412C6,NaN
...,...,...,...,...,...
15874296,50916707501,2023-10-12,2023-10-12,SG67JTC,NaN
15874297,50927268401,2023-02-07,2023-02-08,230201RDC7,NaN
15874298,50818297702,2023-02-07,2023-02-08,230201RDC7,NaN
15874299,50418092001,2023-03-01,2023-05-01,ODDUP1M1,NaN
15874300,52901619701,2023-01-12,2023-01-12,230110SEN3,NaN