In [1]:
path_antoine = "/Users/antoine/Documents/ENSAE2A/Codeperso/everything/Statappperso/Ressources/"
path_results_antoine = "/Users/antoine/Documents/ENSAE2A/Codeperso/everything/Statappperso/Ressources/Results/"

In [6]:
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import pandas as pd

In [3]:
from Tool_Functions.cleaning_data import *
from Tool_Functions.join_data import *
from Tool_Functions.test_comportment_reabo import *
from Tool_Functions.visual import *
from Tool_Functions.comportment_reabo import *

In [4]:
new_df = file_to_dataframe(path_antoine + 'new_datas_diff.csv')

In [9]:
df = new_df.drop(columns = ['Autres_MEAN_TIME', 'ODD 15 jours EV+_MEAN_TIME',
                                 'ODD 15 jours TC_MEAN_TIME', 'ODD 21 jours EV+ _MEAN_TIME',
                                   'ODD 7 jours autre que SG_MEAN_TIME',
                                   'Semaine genéreuse_MEAN_TIME', 'MOY_DELAI'] )

In [10]:
df

,ID_ABONNE,Autres_n_REABOS,ODD 15 jours EV+_n_REABOS,ODD 15 jours TC_n_REABOS,ODD 21 jours EV+ _n_REABOS,ODD 7 jours autre que SG_n_REABOS,Semaine genéreuse_n_REABOS,Autres_MEAN_TIME_DIFF,ODD 15 jours EV+_MEAN_TIME_DIFF,ODD 15 jours TC_MEAN_TIME_DIFF,ODD 21 jours EV+ _MEAN_TIME_DIFF,ODD 7 jours autre que SG_MEAN_TIME_DIFF,Semaine genéreuse_MEAN_TIME_DIFF
0,50402221602,1,0,2,0,0,0,0.333333,inf,-0.166667,inf,inf,inf
1,50402223202,4,0,8,0,0,17,0.413793,inf,0.288793,inf,inf,-0.233207
2,50402224003,0,0,3,0,0,4,inf,inf,0.475857,inf,inf,-0.357143
3,50402230202,3,0,9,0,0,6,2.888889,inf,-0.333111,inf,inf,-0.944111
4,50402230203,3,0,10,0,0,6,9.210526,inf,0.110526,inf,inf,-4.789474
...,...,...,...,...,...,...,...,...,...,...,...,...,...
777139,53186931901,0,1,1,0,0,1,inf,-0.666667,-0.666667,inf,inf,1.333333
777140,53186937201,0,1,1,0,0,1,inf,-0.666667,-0.666667,inf,inf,1.333333
777141,53186971001,0,1,1,0,0,1,inf,-0.666667,-0.666667,inf,inf,1.333333
777142,53186977101,0,1,1,0,0,1,inf,0.333333,0.333333,inf,inf,-0.666667
777143,53186989601,0,1,1,0,0,1,inf,0.333333,0.333333,inf,inf,-0.666667

In [13]:
df_original = pd.DataFrame(df).set_index('ID_ABONNE')

In [14]:
columns_names = df_original.columns
columns_names

Index(['Autres_n_REABOS', 'ODD 15 jours EV+_n_REABOS',
       'ODD 15 jours TC_n_REABOS', 'ODD 21 jours EV+ _n_REABOS',
       'ODD 7 jours autre que SG_n_REABOS', 'Semaine genéreuse_n_REABOS',
       'Autres_MEAN_TIME_DIFF', 'ODD 15 jours EV+_MEAN_TIME_DIFF',
       'ODD 15 jours TC_MEAN_TIME_DIFF', 'ODD 21 jours EV+ _MEAN_TIME_DIFF',
       'ODD 7 jours autre que SG_MEAN_TIME_DIFF',
       'Semaine genéreuse_MEAN_TIME_DIFF'],
      dtype='object')

In [ ]:
# Normalisation des données
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df)

In [38]:
df_scaled

array([[-0.24991914, -0.517815  , -0.98722439, ...,  1.95443712,
        -0.28345189, -0.83547764],
       [-0.24991914, -0.517815  ,  1.02359804, ...,  4.33412836,
        -0.28345189,  2.2940435 ],
       [-0.24991914, -0.517815  , -0.41270369, ..., -0.42525411,
        -0.28345189, -0.09911973],
       ...,
       [-0.24991914, -0.517815  , -1.27448473, ..., -0.42525411,
        -0.28345189, -0.65138816],
       [-0.24991914,  1.54638304, -1.27448473, ..., -0.42525411,
        -0.28345189, -0.65138816],
       [-0.24991914,  1.54638304, -1.27448473, ..., -0.42525411,
        -0.28345189, -0.65138816]])

In [39]:
kmeans = KMeans(n_clusters=3, random_state=42)
kmeans.fit(df_scaled)
df['Cluster'] = kmeans.labels_

/Users/antoine/Library/Python/3.9/lib/python/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

Hyperparamètres : 
init : Méthode d'initialisation des centroïdes. Les options courantes sont 'k-means++' (défaut), 'random', un tableau donné de formes (n_clusters, n_features) ou une méthode d'initialisation personnalisée. 'k-means++' choisit les centroïdes initiaux pour le clustering k-means d'une manière qui accélère la convergence.

n_init : Nombre de fois où l'algorithme k-means sera exécuté avec différentes graines de centroïde. Les résultats finaux seront la meilleure sortie de n_init exécutions consécutives en termes d'inertie.

max_iter : Le nombre maximal d'itérations de l'algorithme k-means pour une seule exécution.
tol : Tolérance pour déclarer la convergence. Si les changements dans les centroïdes sont inférieurs à cette tolérance, l'algorithme peut arrêter plus tôt.

precompute_distances : Détermine si les distances entre les points doivent être précalculées ou calculées à la volée. Cela peut accélérer les choses mais peut aussi consommer beaucoup de mémoire pour les grands ensembles de données.
verbose : Mode verbeux.

random_state : Graine utilisée par le générateur de nombres aléatoires pour l'initialisation du centroïde ou si init est une graine pour l'algorithme k-means++.

copy_x : Si True (par défaut), les données d'entrée sont copiées, sinon elles peuvent être écrasées pendant le clustering.

algorithm : Choix de l'algorithme pour calculer les k-moyens parmi 'auto', 'full' ou 'elkan'. Le choix classique 'full' est l'algorithme EM pour le k-means. 'elkan' est une variante plus efficace qui est plus rapide sur les ensembles de données avec de nombreux clusters mais qui ne fonctionne pas avec des métriques autres que la distance euclidienne.

In [40]:
compte = df.groupby('Cluster').count()

In [41]:
compte

,Autres,ODD 15 jours EV+,ODD 15 jours TC,ODD 21 jours TC,ODD 30 jours EV+,ODD 30 jours TC,ODD 7 jours autre que SG,Semaine genéreuse
Cluster,,,,,,,,
0,308602,308602,308602,308602,308602,308602,308602,308602
1,576231,576231,576231,576231,576231,576231,576231,576231
2,71276,71276,71276,71276,71276,71276,71276,71276

In [42]:
centroids = kmeans.cluster_centers_

# Convertir les centroïdes en DataFrame pour une meilleure lisibilité
centroids_df = pd.DataFrame(centroids, columns=columns_names)

# Afficher les centroïdes
print(centroids_df)

     Autres  ODD 15 jours EV+  ODD 15 jours TC  ODD 21 jours TC  \
0  0.307610          0.061074         1.126297        -0.435975
1 -0.154595          0.015486        -0.543121         0.252738
2 -0.082091         -0.389635        -0.485873        -0.155534

   ODD 30 jours EV+  ODD 30 jours TC  ODD 7 jours autre que SG  \
0          0.803886         0.437578                 -0.282348
1         -0.404702        -0.206991                 -0.283452
2         -0.208923        -0.221243                  3.514044

   Semaine genéreuse
0           1.048508
1          -0.494218
2          -0.544410

In [43]:
save_to_csv_file(centroids_df, path_antoine + 'centres_clusters.csv')

True

In [44]:
df_scaled_df = pd.DataFrame(df_scaled, columns=columns_names)

In [45]:
df_scaled_df['Cluster'] = kmeans.labels_

In [46]:
k = 3
for i in range(k):
    print(f"Cluster {i} characteristics:")
    cluster_data = df_scaled_df[df_scaled_df['Cluster'] == i]
    # Vous pouvez ici calculer des statistiques ou des graphiques pour comprendre chaque cluster
    print(cluster_data.describe())  # Résumé statistique
    save_to_csv_file(cluster_data.describe(), path_antoine + 'cluster_data.csv')

Cluster 0 characteristics:
              Autres  ODD 15 jours EV+  ODD 15 jours TC  ODD 21 jours TC  \
count  308602.000000     308602.000000    308602.000000    308602.000000
mean        0.308229          0.061040         1.126249        -0.436138
std         1.441627          1.079247         0.667002         0.488874
min        -0.249919         -0.517815        -1.274485        -0.599698
25%        -0.249919         -0.517815         0.736338        -0.599698
50%        -0.249919         -0.517815         1.023598        -0.599698
75%        -0.249919         -0.517815         1.598119        -0.599698
max        16.232513         11.867373        19.695521         5.027679

       ODD 30 jours EV+  ODD 30 jours TC  ODD 7 jours autre que SG  \
count     308602.000000    308602.000000             308602.000000
mean           0.803770         0.437633                 -0.282348
std            1.163844         1.467611                  0.064621
min           -0.606764        -0.425254                 -0.283452
25%           -0.606764        -0.425254                 -0.283452
50%            1.181616        -0.425254                 -0.283452
75%            1.181616         0.764592                 -0.283452
max           11.911898        12.663048                  3.501088

       Semaine genéreuse   Cluster
count      308602.000000  308602.0
mean            1.048454       0.0
std             1.050756       0.0
min            -0.835478       0.0
25%             0.269059       0.0
50%             1.005417       0.0
75%             1.925865       0.0
max             4.503117       0.0
Cluster 1 characteristics:
              Autres  ODD 15 jours EV+  ODD 15 jours TC  ODD 21 jours TC  \
count  576231.000000     576231.000000    576231.000000    576231.000000
mean       -0.154919          0.015505        -0.543066         0.252813
std         0.621456          0.984827         0.590556         1.128147
min        -0.249919         -0.517815        -1.274485        -0.599698
25%        -0.249919         -0.517815        -0.987224        -0.599698
50%        -0.249919         -0.517815        -0.699964        -0.599698
75%        -0.249919         -0.517815        -0.125443         0.807147
max        12.111905         18.059967         2.747160        16.282433

       ODD 30 jours EV+  ODD 30 jours TC  ODD 7 jours autre que SG  \
count     576231.000000    576231.000000              5.762310e+05
mean          -0.404619        -0.207009             -2.834519e-01
std            0.581293         0.561643              5.551120e-17
min           -0.606764        -0.425254             -2.834519e-01
25%           -0.606764        -0.425254             -2.834519e-01
50%           -0.606764        -0.425254             -2.834519e-01
75%           -0.606764        -0.425254             -2.834519e-01
max            4.758377         6.713820             -2.834519e-01

       Semaine genéreuse   Cluster
count      576231.000000  576231.0
mean           -0.494162       1.0
std             0.412934       0.0
min            -0.835478       1.0
25%            -0.835478       1.0
50%            -0.651388       1.0
75%            -0.283209       1.0
max             2.662222       1.0
Cluster 2 characteristics:
             Autres  ODD 15 jours EV+  ODD 15 jours TC  ODD 21 jours TC  \
count  71276.000000      71276.000000     71276.000000     71276.000000
mean      -0.082091         -0.389635        -0.485873        -0.155534
std        0.825532          0.600160         0.745760         0.851858
min       -0.249919         -0.517815        -1.274485        -0.599698
25%       -0.249919         -0.517815        -0.987224        -0.599698
50%       -0.249919         -0.517815        -0.699964        -0.599698
75%       -0.249919         -0.517815         0.161817         0.807147
max        7.991297          9.803175         2.459900         6.434523

       ODD 30 jours EV+  ODD 30 jours TC  ODD 7 jours autre que SG  \
count      71276.000000     71276.000000              71276.000000
mean          -0.208923        -0.221243                  3.514044
std            0.808318         0.560167                  0.229963
min           -0.606764        -0.425254                  3.501088
25%           -0.606764        -0.425254                  3.501088
50%           -0.606764        -0.425254                  3.501088
75%           -0.606764        -0.425254                  3.501088
max            6.546757         7.903665                 11.070168

       Semaine genéreuse  Cluster
count       71276.000000  71276.0
mean           -0.544410      2.0
std             0.474678      0.0
min            -0.835478      2.0
25%            -0.835478      2.0
50%            -0.835478      2.0
75%            -0.467299      2.0
max             3.214491      2.0